<html ng-app="store">
<head>
	<meta charset="utf-8">
	<title>Curso mijo</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style type="text/css">
		.color{
			background:red;
		}
	</style>
</head>
<body>

<section style="width:80%; margin:0 auto;">
	<h2>
		Manda un saludo a tus hermanos: {{"put"+"tos"+"!"}}, {{2+7}}
	</h2>
	<div ng-controller="StoreController as store">

		<div ng-repeat="product in store.products">

		<div class="container" ng-controller="panelController as panel">
			<ul class="nav nav-pills">
				<li ng-class="{ active:panel.isActive(1)}">
					<a href ng-click="panel.selectTab(1)">Nombre</a>
				</li>
				<li ng-class="{ active:panel.isActive(2)}">
					<a href ng-click="panel.selectTab(2)">Descripción</a>
				</li>
				<li ng-class="{ disabled:panel.isActive(3)}">
					<a href ng-click="panel.selectTab(3)">Precio</a>
				</li>
			</ul>
			<button ng-show="product.canBuy">Compralo! yA!</button>

			<div class="panel" ng-show="panel.tab===1">
				<h4>{{product.name}}</h4>
			</div>
			<div class="panel" ng-show="panel.isActive(2)">
				<h4>{{product.desc}}</h4>
			</div>
			<div class="panel" ng-show="panel.isActive(3)">
				<h4>{{product.price}}</h4>
			</div>
		</div>

<div ng-controller="ReviewController as reviewCtrl">
		<ul class="list-group">
		  <li ng-repeat="review in product.comments" class="list-group-item">
		    <span class="badge">{{review.stars}}</span>
		   	{{review.body}}
		  </li>
		  <li class="list-group-item">
		    <span class="badge">{{reviewCtrl.review.stars}}</span>
		   	{{reviewCtrl.review.body}}
		  </li>
		</ul>
		<form ng-submit="reviewCtrl.submitReview(product)">
		<div class="input-group">
			  
			  <input ng-model="reviewCtrl.review.stars" type="text" class="form-control" placeholder="Estrellas" aria-describedby="basic-addon1">
			
			  <input ng-model="reviewCtrl.review.body" type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
			  <input type="submit" value="Subele mijo">
			  
		</div>
		</form>
</div><!-- ng-controller-->

	
		
		
		
		
		</div>

	</div>
</section>



<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
(function(){

	var app = angular.module('store',[]);

	app.controller('StoreController',StoreController);
	function StoreController(){
		this.products = gems;
	};

	app.controller('panelController',function(){
		this.tab=1;

		this.selectTab = function(setTab){
			this.tab = setTab;
		};
		this.isActive = function(checkTab){
			return this.tab === checkTab;
		}
	});

	app.controller('ReviewController',function(){
		this.review = {};
		this.submitReview = function(product){
			product.comments.push(this.review);
			this.review={};
		};
	});

	var gems = [{
		name:'BlisSy',
		desc:'Sabroson',
		price:77,
		canBuy:true,
		comments:[
			{
				stars:5,
				body:"De lujo paps!",
				author:'BlisS'
			},{
				stars:4,
				body:"De la Ñonga",
				author:'Fuckyy'
			}
		]
	},{
		name:"Fucky",
		desc:"Putty",
		price:88,
		canBuy:false,
		comments:[
			{
				stars:5,
				body:"Ya llego Saúl",
				author:'Juan'
			},{
				stars:4,
				body:"Quieren hierba?, dejo mi numero 77454508",
				author:'GreenBoy'
			}
		]
	}];







})();
	


</script>
</body>
</html>